@media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  
    #caption {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 817px) {
    h1 {
      font-size: 2.5vw;
      margin-left: 10em;
      margin-right: 10em;
    }
  
    #nav_mobile {
      display: block;
    }
  
    #web_header {
      display: none;
    }
  
    #header_mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .pagination a {
      padding: 0.5em 0.75em;
    }
  
    #index {
      margin-top: 2em;
      padding-top: 0;
      border-top: 3px solid #4682B4;
      display: flex;
      flex-direction: column;
    }
  
    #index div {
      margin-top: 2em;
    }
  
    #index ul li {
      text-align: center;
    }
  
    #index ul li:first-child {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
  }
  
  @media only screen and (max-width: 420px) {
    #index {
      margin-top: 2em;
      padding-top: 0.5em;
      border-top: 2px solid #4682B4;
      display: flex;
      flex-direction: column;
    }
  
    #index div {
      margin-top: 2em;
    }
  
    #index ul li {
      text-align: center;
    }
  
    #index ul li:first-child {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }
  
    #copyright {
      display: block
    }
  
    #copyright img {
      float: left;
    }
  
    #copyright figcaption {
      margin-left: 1em;
      font-size: 0.8em;
    }
  
    #copyright div.contact {
      text-align: right;
    }
  
    #copyright div.contact i {
      font-size: 1.5em;
    }
  }