  @media only screen and (max-width: 1280px){
    #main_menu {
      left: 27%;
    }
  }
  

  
  @media only screen and (max-width: 1210px) {
    #main_menu {
      left: 25%;
    }
  }
  
  @media only screen and (max-width: 1050px){
    #main_menu {
      left: 23%;
    }
  }
  
  @media only screen and (max-width: 958px){
    #main_menu{
      left: 21%;
    }
  }
  
  
  @media only screen and (max-width: 892px){
    #main_menu{
      left: 19%;
    }
  }
  
  
  @media only screen and (max-width: 852px) {
    #heading1 {
      mix-blend-mode: normal;
      text-shadow: none;
    }
  
  
    #nav_mobile {
      display: block;
    }
  
    #web_header {
      display: none;
    }
  
    #header_mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .modal{
      padding: 0;
    }

    .modal-content {
      margin-right: 0em;
      display: block;
      width: 100%;
      align-self: center;
  
    }


    #caption {
      width: 100%;
      margin-right: 0;
     
    }
    #figureZoom {
      border: 0.5rem solid rgba(222, 184, 135, 0);
      padding: 1.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .infor-author{
        align-self: stretch;
    }

  
    

    .content {
      text-align:center;
      
    }

    .close{
      top: 5px;
      right: 10px;
    }
  
  }
  
  
  
  @media only screen and (max-width: 500px) {
  
  
  
    #index {
      margin-top: 2em;
      padding-top: 0;
      border-top: 3px solid #4682B4;
      display: flex;
      flex-direction: column;
    }
  
    #index div {
      margin-top: 2em;
    }
  
    #index ul li {
      text-align: center;
    }
  
    #index ul li:first-child {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
  
  
  
  }
  
  @media only screen and (max-width: 420px) {
    #index {
      margin-top: 2em;
      padding-top: 0.5em;
      border-top: 2px solid #4682B4;
      display: flex;
      flex-direction: column;
    }
  
    #index div {
      margin-top: 2em;
    }
  
    #index ul li {
      text-align: center;
    }
  
    #index ul li:first-child {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }
  
    #copyright {
      display: block
    }
  
    #copyright img {
      float: left;
    }
  
    #copyright figcaption {
      margin-left: 1em;
      font-size: 0.8em;
    }
  
    #copyright div.contact {
      text-align: right;
    }
  
    #copyright div.contact i {
      font-size: 1.5em;
    }
  }