*, *::after, *::before {
    box-sizing: border-box;
  }
  html {
    background-image: url("../../images/background/home_image.jpg");
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
  }
  
  body {
    margin: 0;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  
  p {
    font-size: 3vh;
  }
  
  a {
    text-decoration: none;
  }
  
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ::placeholder {
    opacity: 0.6;
  }
  
  ::selection {
    background: #FA8072;
  }
  
  #web_header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  
  #search_bar {
    position: relative;
    z-index: 2;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
  }
  
  #search_bar input {
    transition: width 1s;
    width: 0;
    order: 1;
    border: none;
    outline: none;
    padding: 0.8em;
  }
  
  
  button[name="submit"] {
    order: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;
    border: none;
  }
  
  #search_bar button:hover {
    color: #CD5C5C;
    cursor: pointer;
  }
  
  button[name="reset"] {
    order: 2;
    background-color: white;
    border: none;
    display: none;
  }
  
  
  #main_menu {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: flex;
    top: 0;
    left: 30%;
  }
  
  #main_menu li.sub_menu {
    position: relative;
    z-index: 999;
  }
  
  #main_menu .sub_menu_1 {
    z-index: -999;
    position: absolute;
    top: -1000%;
    transition-property: top;
    transition-duration: 1s;
  }
  
  #main_menu .sub_menu_1>li {
    opacity: 0.9;
  }
  
  #main_menu li:hover .sub_menu_1 {
    transition-delay: 0.1s;
    top: 100%;
  }
  
  #main_menu li:hover span.triangle_down {
    display: none;
  }
  
  span.triangle_up {
    display: none;
  }
  
  #main_menu li:hover span.triangle_up {
    display: inline;
  }
  
  #main_menu li a {
    padding: .8em;
    display: block;
    background-color: #CD5C5C;
    text-align: center;
    color: #FFE4B5;
  }
  
  #main_menu .sub_menu_1 a {
    background-color: #B22222;
  }
  
  #main_menu>li {
    white-space: nowrap;
  }
  
  .sub_menu_1 {
    white-space: normal;
  }
  
  #main_menu>li:first-child a {
    padding-top: 0.5em;
    padding-bottom: 0.7em;
  }
  
  #main_menu li a:hover {
    color: white;
    padding-bottom: 0.5em;
    border-bottom: 0.3em solid #F4A460;
  }
  
  #main_menu li a.home_index:hover {
    padding-bottom: 0.4em;
  }
  
  #main_menu a.active:hover {
   
  }
  
  #main_menu li.sub_menu>a:hover {
    padding-bottom: 0.8em;
    border: none;
  }
  
  #main_menu li a.active {
    background-color: #F4A460;
    color: white;
  }
  
  #nav_mobile {
    margin: 0;
    padding: 0.1em;
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
  }
  
  
  #header_mobile {
    background-color: #CD5C5C;
    display: none;
    position: relative;
  }
  
  #nav_and_search {
    display: flex;
    flex-direction: row;
  }
  
  #search_mobile_icon {
    display: block;
    padding: 0.5em;
    margin: auto;
    cursor: pointer;
    color: white;
  }
  
  
  #search_bar_mobile {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  
  #search_bar_mobile input {
    width: 100%;
    padding: 0.5em;
    outline: none;
  }
  
  #main_menu_mobile {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
  }
  
  #main_menu_mobile li a {
    padding: 1em;
    display: block;
    text-align: left;
    background-color: #CD5C5C;
    color: white;
  }
  
  #main_menu_mobile li a:active {
    background-color: #F4A460;
  }
  
  .sub_menu_mobile_1 {
    display: none;
    
  }

  #main_menu_mobile .sub_menu_mobile_1 a{
    background-color: #B22222;
  }

  
  #main_menu_mobile .sub_menu_mobile_1 li a {
    padding-left: 3em;
  }