footer {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background: #EBDDE2;
  color: #25587E;
}

#index {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 2rem;
  padding-top: 2rem;
 
  display: flex;
  justify-content: space-around;
}

#index a {
  color: #25587E;
}

#index a:hover {
  text-decoration: underline;
}

#index a:hover i {
  color: black;
}

#index ul li:first-child {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem
}

#copyright {
  margin: 1rem 0 0;
  padding: .5rem 0 0;
  border-top: 1px dotted #4682B4;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Abel', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

#copyright figure {
  display: flex;
  flex: 4;
}

#copyright img {
  align-self: flex-start;
  width: 100%;
  max-width: 120px;
}

#copyright figcaption {
  margin-left: 1rem;
  align-self: flex-start;
  font-size: 1rem;
  user-select: none;
}

#copyright div.contact {
  align-self: center;
  flex: 1;
}

#copyright div.contact a {
  margin-right: 1rem;
  color: #25587E;
}

#copyright div.contact i {
  font-size: 2rem;
}

#copyright div.contact a:hover {
  color: #000000;
}